* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 180px;
    background-color: rgb(40, 124, 234);
    background-image: url(/img/pattern.png);
    background-attachment: fixed;
    background-size: auto;
    position: relative; 
}
header img {
    height: 70px;
    position: absolute;
    bottom: 10px;
    left: 10px;
}