* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 180px;
    background-color: rgb(40, 124, 234);
    background-image: url(/img/pattern.png);
    background-attachment: fixed;
    background-size: auto;
    position: relative; 
}
header img {
    height: 70px;
    position: absolute;
    bottom: 10px;
    left: 10px;
}

h1 {
    font-size: 40px;
}

main {
    padding-top: 20px;
    padding-left: 10px;
    max-width: 1200px;
}

a:link {
    text-decoration: none;
    font-weight: bold;
    color: rgb(32, 169, 229);
}
.photo {
    margin-top: 20px;
}

article>div {
    margin: 20px 0;

}

ul {
     padding-left: 30px;
}

table {
    width: 100%;
    border-spacing: 0;
    
}
thead {
    background-color: rgb(32, 169, 229);
    color: white;
    

}
.blue-row {
    background-color: rgb(177, 229, 242);
    
}

.white-row {
    background-color: white;
}

span {
    background-color: yellow;
}

.interest {
    color: gray;
}

.container {
    position: relative;
}
.final {
    margin-top: 10px;
    position: relative;
}

.text-block {
    color: white;
    position: absolute;
    left: 10px;
    top: 10px;

}

/* footer {
    text-align: center;
    text-decoration: solid;
    color: rgb(32, 169, 229);
} */